version: '3.8'

services:
  aggregator:
    build: .
    container_name: aggregator
    environment:
      - GIST_PAT=${GIST_PAT:-}
      - GIST_LINK=${GIST_LINK:-}
      - CUSTOMIZE_LINK=${CUSTOMIZE_LINK:-}
      - TZ=Asia/Shanghai
    volumes:
      - ./data:/aggregator/data
      - ./config:/aggregator/subscribe/config
      - ./plugins:/aggregator/plugins  # 挂载插件目录
      - ./plugin_manager:/aggregator/plugin_manager  # 挂载插件管理器
      - ./config:/aggregator/config  # 挂载配置目录
    restart: unless-stopped
    command: [
      "python", 
      "-u", 
      "main_executor.py"
    ]